html {
    font-size: 16px;
}
nav, ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
}
nav {
    background-color: #F8F5EB;
    width: fit-content;
    border-radius: 50px;
    margin: 0 auto;
    position: sticky;
}
nav li a {
    display: block;
    color: #500711;
    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 50px;
}
.active {
    background-color: #ffc95f;
}
.active1 {
    background-color: #FB96BD;
}

h1 { 
  font-family: "Playfair Display", serif;
  font-size: 7.5rem;
  color: #500711;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.0;
}
.number {
    color:#F5F5F5;
    font-size: 1rem;
    text-align: center;
    position: relative;
    top: 3.125rem;
}
.greenroute {
    color:#FB96BD;
    font-size: 7.5rem;
    text-align: center;
    line-height: 1;
}
.greenrouteframes p {
    margin: 0 auto;
    padding: 3.125rem;
    color:#4E663B;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

}
.mockupsgreenroute img {
    border-radius: 10px;
}
.mockupsgreenroute {
    display: flex;
    padding: 3.125rem 3.125rem;
    gap: 1rem;
    justify-content: center;
    margin: 0;
}
.greenrouteframes {
    background-color: #B1B37E;
}

.header {   
    background-color: #FB96BD;
    padding: 1.25rem;
    padding-bottom: 0;
}
.greenrouteheader {
    background-color: #4E663B;
    padding: 1.25rem;
    padding-bottom: 0;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: #500711;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #500711;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    color:#500711
}
.anschreiben, #anschreiben1 {
    position: relative;
    z-index: 3;
}
.hi {
    position: absolute;
    z-index: 2;
    top: -3%;
}
#scribblehi {
    position: absolute;
    z-index: 1;
    top: -3%;
    left: 5.5%;
    width: 8rem;
}
.beschreibung {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    color: #594d4e;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F8F5EB;
}
.anschreiben {
    background-color: #ffc95f;
    padding: 0.625rem; 
}
.hi {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: normal;
    color:#500711;
    margin-bottom: 0;
}
.anschreiben {
    padding: 3.125rem 6.25rem;
}
.inhalt {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6.25rem;
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 0 5.938rem;
    padding-top: 3rem;
}

#lebenslaufstrahl {
    height: 43rem;
    margin-top: 3.5rem;
    flex-shrink: 0;
}
.lebenslauf {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    flex-direction: row;
}
.lebenslauf article {
    margin-bottom: 2rem;
}
.studium2 {
    margin-top: 2.188rem;
}
.studium1 h3, .studium1 p, .studium2 h3, .studium2 p {
    margin: 0 auto;
    margin-bottom: 0.188rem;  
}
.studium1, .studium2, .fachabitur, .amazon, .hundekindergarten, .mömax {
    margin-bottom: 2.188rem;
}
.fachabitur h3, .fachabitur p {
    margin: 0 auto;
    margin-bottom: 0.188rem;  
}
.amazon {
    margin-top: 2.188rem;
}
.amazon h3, .amazon p {
    margin: 0 auto;
    margin-bottom: 0.188rem;  
}
.hundekindergarten h3, .hundekindergarten p {
    margin: 0 auto;
    margin-bottom: 0.188rem;  
}
.mömax h3, .mömax p {
    margin: 0 auto;
    margin-bottom: 0.188rem;  
}
.skills {
    flex: 1;
}
.grundkenntnisse, .meinefähigkeiten, .kontakt {
    padding-bottom: 4.813rem;
    margin: 0;
}
.grundkenntnisse {
    padding-top: 9rem;
}
.softwareskills {
    margin-bottom: 0;
}
.grundkenntnisse, .kontakt {
    padding-left: 5rem;
}
.skillsliste1, .skillsliste2 {
    gap: 0.625rem;
    padding-bottom: 0.625rem;
}
.gesamteliste {
    display: inline-block;
}
.kreativ {
    background-color: #ED9BBD;
    border-radius: 50px;
    padding: 0.438rem; 
    width: 3.75rem;
    text-align: center;
}
.empathisch, .selbstständig {
    background-color: #ED9BBD;
    border-radius: 50px;
    padding: 0.438rem; 
    width: 5.938rem;
    text-align: center;
}
.teamfähig, .lernbereit {
    border: 0.125rem solid #FFC95F;
    border-radius: 50px;
    width: 5.938rem;
    text-align: center;
    padding-top: 0.313rem;
}
.kontaktliste {
    display: flex;
    flex-direction: column;
}
.kontaktliste .email, .handy, .wohnort {
    display: flex;
    align-items: center;
}
.kontaktliste .email .handy .wohnort li {
    margin-right: 0.625rem;
}
@media (max-width: 768px) {
    .inhalt {
        flex-direction: column;
    }
}
.touristbikeheader {
    background-color: #FCDC6B;
}
.touristbikeheader #touristbikeh3 {
    margin-top: 0;
}
.touristbikeheader, #touristbikeh3, #touristbikeh1, #touristbikep {
    color: #474341;
}
.touristbikeheader #touristbikeh1 {
    font-family: "Inter", sans-serif;
    font-size: 7rem; 
}
.touristbikeheader #touristbikeh3 {
    text-align: center;
    padding-top: 1.25rem;
}
.touristbikeinhalt #touristbikep {
    margin: 0 auto;
    padding: 3.125rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
.touristbikeinhalt, .touristbikemockups {
    background-color: #FFEFB3;
}
.touristbikemockups {
   position: relative;
}
#csscodesnippet {
    position: absolute;
    z-index: 2;
    top: 75%;
    right: 45%;
    width: 15rem;
    border-radius: 6rem;
}
#phpcodesnippet {
    position: absolute;
    z-index: 1;
    top: 34%;
    left: 59.5%;
    right: 0;
    bottom: 0;
    width: 29rem;
    border-radius: 6rem;
}
.softwarelogos {
    position: relative;
}
#figmalogo {
    position: absolute;
    z-index: 3;
    left: -4%;
    width: 4.5rem;
    height: 4.5rem;
}
#indesignlogo {
    position: absolute;
    z-index: 2; 
    left: 12%;
    margin-top: 9%;
    width: 4.5rem;
    height: 4.5rem;
}
#illustratorlogo {
    position: absolute;
    z-index: 1; 
    top: 50%;
    left: 32%;
    width: 4.5rem;
    height: 4.5rem;
}
#lebenslaufstrahl {
    margin-left: -85px;
    width: 4rem;
}

   

    

    